<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>TestApp8_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--Index page for app-->
    <servlet-mapping>
        <servlet-name>GetIndexPageServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetIndexPageServlet</servlet-name>
        <servlet-class>servlets.GetIndexPageServlet</servlet-class>
    </servlet>


    <!--Addition user-->
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/add_user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>servlets.AddUserServlet</servlet-class>
    </servlet>


    <!--Delete user-->
    <servlet-mapping>
        <servlet-name>DeleteUsserServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteUsserServlet</servlet-name>
        <servlet-class>servlets.DeleteUsserServlet</servlet-class>
    </servlet>


    <!--Update user-->
    <servlet-mapping>
        <servlet-name>UpdateUsersServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateUsersServlet</servlet-name>
        <servlet-class>servlets.UpdateUsersServlet</servlet-class>
    </servlet>

</web-app>